.about {
    padding: 20px 0 40px 0;
    &__title {
        font-family: "Forum";
        font-size: 40px;
        text-align: center;
        &::after {
            content: '';
            display: block;
            width: 50px;
            height: 1px;
            background-color: black;
            margin: 20px auto 0 auto;
        }
    }
    &__description {
        margin-top: 40px;
        font-size: 20px;
        text-align: center;
        letter-spacing: 2px;
    }
    &__images {
        display: flex;
        overflow: hidden;
        column-gap: 30px;
        width: calc(100% - 40px);
        margin: 20px auto 0 auto;
        img {
            width: calc((100% - 60px) / 3);
            flex-shrink: 0;
        }
    }
    &__pagination {
        display: flex;
        column-gap: 10px;
        width: fit-content;
        margin: 40px auto 0 auto;
        .pagination__point {
            width: 16px;
            height: 16px;
            background-color: #0C0C0E;
            border-radius: 50px;
            cursor: pointer;
        }
        .pagination__point-active {
            background-color: #BB945F
        }
    }
}