.header {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title {
        font-family: "Forum";
        color: white;
        font-size: 30px;
    }
    &__links {
        display: flex;
        align-items: center;
        column-gap: 30px;
        font-size: 20px;
        margin-right: 100px;
        a {
            font-weight: 300;
        }
        img {
            margin-left: 10px;
            width: 28px;
            height: 28px;
            cursor: pointer;
        }
    }
    &__registration {
        position: absolute;
        right: 20px;
    }
    &__profile {
        position: absolute;
        width: 80px;
        right: 0;
        top: -8px;
        color: white;
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        transition: all 1s ease-in-out;
        &-log,
        &-reg {
            font-weight: 300;
            cursor: pointer;
        }
        &-log {
            margin-top: 15px;
        }
        &-reg {
            margin-top: 10px;
        }
        &-head {
            cursor: pointer;
            &:after {
                content: '';
                display: block;
                width: 40px;
                height: 1px;
                background-color: #BB945F;
                margin-top: 5px;
                margin: 5px auto 0 auto;
            }
        }
    }
}