.footer {
    color: white;
    padding: 20px 20px 45px 20px;
    background-color: black;
    &__top {
        display: flex;
        justify-content: space-between;
        &-address {
            font-family: "Inter";
            font-weight: 300;
            font-size: 15px;
            line-height: 20px;
        }
        &-icons {
            margin-top: 20px;
            display: flex;
            column-gap: 15px;
        }
        &-work {
            text-align: right;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            line-height: 20px;
            p {
                font-family: "Inter";
                font-weight: 300;
            }
        }
    }
    hr {
        margin-top: 30px;
    }
    &__bottom {
        margin-top: 45px;
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        letter-spacing: 2px;
    }
}