.coffee {
    padding: 20px 20px 20px 40px;
    &__title {
        font-family: "Forum";
        font-size: 40px;
        text-align: center;
        letter-spacing: 2px;
        &::after {
            content: '';
            display: block;
            width: 50px;
            height: 1px;
            background-color: black;
            margin: 20px auto 0 auto;
        }
    }
    &__description {
        margin-top: 40px;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 2px;
    }
    &__menu {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }
    .menu {
        &__cell {
            &-title {
                font-family: "Forum";
                font-size: 40px;
                color: #BB945F;
                width: 100%;
                font-weight: 300;
            }
            &-items {
                margin-top: 40px;
                display: flex;
                flex-direction: column;
                row-gap: 40px;
            }
            &-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 440px;
                div {
                    width: 100px;
                    height: 1px;
                    background-color: #BB945F;
                }
                p {
                    font-family: "Forum";
                    font-weight: 500;
                    font-size: 20px;
                    letter-spacing: 2px;
                }
                .item__name {
                    width: 197px
                }
            }
            #right {
                text-align: right;
            }
        }
    }
}